.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #464547;
  padding: 2rem 6rem 4rem;
}
.rights-reserved {
  display: flex;
  align-items: end;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans 3", sans-serif;
}
.logo-small {
  color: #fff;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.logo-small p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-address {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans 3", sans-serif;
}
.footer-address a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .rights-reserved,
  .logo-small p {
    justify-content: center;
  }
  .footer-address p,
  .rights-reserved p {
    text-align: center;
  }
}
