.header {
  color: #fff;
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header p {
  position: absolute;
  top: 10px;
  left: 8%;
}
.header ul {
  position: absolute;
  top: 10px;
  left: 36%;
}
.header ul li {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.8px;
  display: inline-block;
  margin-right: 25px;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header a:hover {
  text-decoration: none;
  border-bottom: 2px solid white;
  color: white;
}
@media screen and (max-width: 768px) {
  .header p {
    left: 6%;
  }
  .header ul {
    display: none;
  }
  .menu-icon {
    width: 35px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 3rem;
    right: 6%;
  }
  .menu-icon::before,
  .menu-icon::after {
    content: "";
    width: 35px;
    height: 5px;
    background-color: #fff;
    position: absolute;
  }
  .menu-icon::before {
    top: -12px;
  }
  .menu-icon::after {
    top: 12px;
  }
}
