@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans&family=Oswald:wght@400;500;600&family=Source+Code+Pro&family=Source+Sans+3&display=swap");
html,
body {
  margin: 0;
}

.headline {
  background: url("../assets/bg-1.png") no-repeat top right;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20rem 0;
  position: relative;
  overflow: hidden;
}
.headline::before {
  background: url("../assets/stars.svg") no-repeat top right;
  content: "";
  position: absolute;
  width: 53vw;
  height: 98vh;
  top: 6vh;
  left: 86vh;
  background-size: cover;
  animation: moveUpDownLeft 4s linear infinite alternate;
}

@keyframes moveUpDownLeft {
  from {
    transform: translateY(0) translateX(0);
  }
  to {
    transform: translateY(-1.5%) translateX(-1.5%);
  }
}
.headline::after {
  background: url("../assets/rays.svg") no-repeat;
  content: "";
  position: absolute;
  width: 33vw;
  height: 99vh;
  top: 14vh;
  left: 131vh;
  background-size: cover;
  animation: lightShine 4s infinite forwards;
}
@keyframes lightShine {
  0% {
    opacity: 0;
    filter: blur(0);
  }
  25% {
    opacity: 0.5;
    filter: blur(1px);
  }
  50% {
    opacity: 1;
    filter: blur(1.7px);
  }
  75% {
    opacity: 0.5;
    filter: blur(1px);
  }
  100% {
    opacity: 0;
    filter: blur(0);
  }
}
.logo_big {
  z-index: 2;
  width: 62px;
}
.logo_big img {
  z-index: 1;
  transition: transform 0.6s;
}
.logo_big:hover img {
  transform: rotateY(180deg) scale(1.5);
}
.headline h1 {
  text-align: center;
  color: #fff;
  font-family: Oswald;
  font-size: 48px;
  line-height: 64px;
}
.headline h2 {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  line-height: 32px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .headline {
    background-position: 90%;
  }
  .headline h2 {
    width: auto;
  }
  .headline::before {
    width: 101vw;
    height: 89vh;
    top: 11vh;
    left: -1vh;
  }
  .headline::after {
    width: 101vw;
    height: 89vh;
    top: 11vh;
    left: -1vh;
  }
}
