.mask-group {
  background: linear-gradient(rgba(140, 79, 42, 0.3), rgba(140, 79, 42, 0.3)),
    url("../assets//logo-2.png") top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  background-position: center;
}
.mask-group h2 {
  color: #fff;
  text-align: center;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
.video-button {
  height: 143.47px;
  width: 150px;
  padding-left: 18px;
  padding-bottom: 6px;
  background: #55c2d8;
  color: #fff;
  font-size: 70px;
  border-radius: 50%;
  border: none;
  margin: 2rem;
  transition: 0.6s;
}
.video-button:hover {
  transform: scale(0.96);
  background: #fff;
  color: #55c2d8;
}
.mask-group h3 {
  color: #fff;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
@media screen and (max-width: 768px) {
}
