.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  padding: 4rem 6rem;
}
.section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.section-2 h2 {
  color: #464547;
  text-align: center;
  font-family: Oswald;
  font-size: 48px;
  line-height: 64px;
  margin: 0;
}
.section-2 h3 {
  color: #666;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.section-2 p {
  color: #666666;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 22px;
}
.button {
  width: 115px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background: #55c2d8;
  color: #fff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  letter-spacing: 1.4px;
  margin: 1rem;
  transition: 0.6s;
  transform-origin: left;
}
.button:hover {
  transform: rotate(10deg);
}
@media screen and (max-width: 768px) {
  .section-2 {
    padding: 4rem 1rem;
  }
  .section-content {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
